OffcanvasSidebar {
	height: 100vh;
	position: fixed;
}

.menuButton {
	position: fixed;
	top: 10px;
	transition: 0.2s;
	width: 2rem;
	height: 50px;
	background-color: rgba(0, 132, 255, 0.5);
	border: none;
	color: white;
	overflow: hidden;
	align-items: center;
	border-radius: 0 80% 80% 0;

	&:hover {
	background-color: rgba(0, 132, 255, 1);

		transition: 0.2s;
		width: 2rem;
		// width: 1rem;
	}
}
